body {
	margin: 0;
	font-family: cursive;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card {
	background-color: beige;
	width: 50%;
	min-width: 400px;
	max-width: 800px;
	margin: 2rem auto;
	padding: 2rem;
	box-sizing: border-box;
	border-radius: 1rem;
	& img {
		width: 100%;
		border-radius: 1rem;
		aspect-ratio: 1;
		object-fit: cover;
	}
	& h1 {
		text-align: center;
	}
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	.card {
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
}
